li {
    float: left;
}

nav a {
    display: block; padding: 5px; text-decoration: none; font-family: Cabin;}

#otis
{list-style-type: none;
 text-decoration: none;}

.article{display: block;float: left; margin-right: 5px; margin-top: 90px;}


.post {height: 175px;
    width: 200px;}
.box {height: 320px; width: 425px; padding-top: 50px;}



p {font-family: Cabin; font-size: 11px; height: 200px; width: 175px;}


#right {float: right; margin: 2px; }

.caption {color: white ;
            text-decoration: none ;
            padding: 5px ;
            background-color: red ;
            transition-property: background-color ; 
            /*new stuff*/
            transition-duration: 3s ;
            transition-timing-function: ease ;
            transition-delay: 1s ;

            -webkit-transition: background-color 0.3s ease 3s, color 0.5s ease-in-out;
            -moz-transition: background-color 0.3s ease 3s, color 0.5s ease-in-out;
            -o-transition: background-color 0.3s ease 3s, color 0.5s ease-in-out;

            transition: background-color 0.3s ease 3s, color 0.5s ease-in-out} 

            .caption:hover{ background-color:blue;
            color: yellow; }

.caption2 {color: white ;
            text-decoration: none ;
            padding: 5px ;
            background-color: blueviolet;
            transition-property: background-color ; 
            /*new stuff*/
            transition-duration: 0.3s ;
            transition-timing-function: ease ;
            transition-delay: 1s ;

            -webkit-transition: background-color 0.3s ease 3s, color 0.5s ease-in-out;
            -moz-transition: background-color 0.3s ease 3s, color 0.5s ease-in-out;
            -o-transition: background-color 0.3s ease 3s, color 0.5s ease-in-out;

            transition: background-color 0.3s ease 3s, color 0.5s ease-in-out} 

            .caption2:hover{ background-color:gray;
            color: pink; }


.caption3 {color: white ;
            text-decoration: none ;
            padding: 5px ;
            background-color: black;
            transition-property: background-color ; 
            /*new stuff*/
            transition-duration: 0.3s ;
            transition-timing-function: ease ;
            transition-delay: 1s ;

            -webkit-transition: background-color 0.3s ease 1s, color 0.5s ease-in-out;
            -moz-transition: background-color 0.3s ease 1s, color 0.5s ease-in-out;
            -o-transition: background-color 0.3s ease 1s, color 0.5s ease-in-out;

            transition: background-color 0.3s ease 1s, color 0.5s ease-in-out} 

            .caption3:hover{ background-color:tomato;
            color: orange; }


ul li a {color: black;
            text-decoration: none ;
            padding: 5px ;
            background-color:  ;
            transition-property: background-color ; 
            /*new stuff*/
            transition-duration: 0.5s ;
            transition-timing-function:ease-in-out;
            transition-delay: 1s ;

            -webkit-transition: background-color 0.1s ease 1s, color 0.4s ease-in-out;
            -moz-transition: background-color 0.1s ease 1s, color 0.4s ease-in-out;
            -o-transition: background-color 0.1s ease 1s, color 0.4s ease-in-out;

            transition: background-color 0.1s ease 1s, color 0.4s ease-in-out}
  ul li a:hover{ background-color:blue;
            color: yellow; }


.fade{;

-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
}
.fade:hover{
-moz-transform:scale(2); 
-webkit-transform:scale(2);
-o-transform:scale(2);
}





.spin{position: absolute;
    top: 60%;
    left: 60%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }

    p{
    color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}
 
 